.container {
    display:  flex;
    gap: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}
.left-side,
.right-side{
    flex: 1; 
}
.main {
    font-family: 'Dancing Script', Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #333;
}
.image-livre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    max-width: 200px; 
    height: auto;
    z-index: 1; 
}